[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
json-tricks = "*"
finta = "*"
argparse = "*"
configparser = "*"
matplotlib = "*"
sklearn = "*"
tensorflow = "*"
mongoengine = "*"
pydot = "*"
zerorpc = "*"
numba = "*"
celery = "*"

[dev-packages]

[requires]
python_version = "3.8"
